.poll-brainstorm-vote-form
  -# %h3.lmo-card-subheading{translate: "poll_common.your_response"}
  %form.poll-brainstorm-vote-form
    %poll_common_participant_form{stance: "stance"}

    .poll-common-form__actions
      %md-button.md-primary.md-raised{ng-click: "submit()", ng-disabled: "noOptionsGiven()", translate: "poll_common.vote", aria-label: "{{ 'poll_poll_vote_form.vote' | translate }}"}
