.poll-brainstorm-vote-form__poll-option-names {
  margin-top: -50px;
}

.poll-brainstorm-vote-form__add-option {
  align-items: flex-start;
}

.poll-brainstorm-vote-form__poll-option-name {
  width: 100%;
  line-height: 48px;
}
