.group-pending-email-form
  .lmo-flex
    %label{translate: "invitation_form.pending_emails"}
    %help_bubble{helptext: "invitation_form.pending_emails_helptext"}
  %pending_email_form{emails: "group.features.pending_emails"}
